# ------------------------
# Python
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# ------------------------
# DVC
# ------------------------
/data/*.csv
/data/*.zip
/data/*.parquet

# Ignore DVC cache

.dvc/cache/
.dvc/tmp/

# ------------------------
# MLflow
# ------------------------
mlruns/
*.db

# ------------------------
# Model Files
# ------------------------
model/*.pkl
model/*.joblib

# ------------------------
# Logs
# ------------------------
*.log

# ------------------------
# OS Files
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# VS Code
# ------------------------
.vscode/

# ------------------------
# Jupyter
# ------------------------
.ipynb_checkpoints/

# ------------------------
# Docker
# ------------------------
*.tar

# ------------------------
# Misc
# ------------------------
*.env